<%= form.error_messages %>

 <p>
   <%= form.label :date %><br />
   <%= form.date_select :date %>
 </p>
 <p>
   <%= form.label :buyin_cost %><br />
   <%= form.text_field :buyin_cost %>
 </p>
 <p>
   <%= form.label :rebuy_cost %><br />
   <%= form.text_field :rebuy_cost %>
 </p>
 <p>
   <%= form.label :addon_cost %><br />
   <%= form.text_field :addon_cost %>
 </p>
<div >
  <h3>Participants</h3>

  <%= add_participant_link(form) %>
  <table id="participants">
	<tr>
		<th>player</th><th>placement</th><th>rebuys</th><th>addons</th><th>pricemoney</th><th></th>
	</tr>
  <% form.fields_for :participations do |participants_form| -%>
    <%= render :partial => 'participant', :locals => { :form => participants_form } %>
  <% end -%>
  </table>
</div>
 <p>
   <%= form.submit 'Save' %>
 </p>